.modal {
    position: fixed;
    z-index: 1000;
    justify-content: center;
    width:70%;
    height: 70%;
    top: 15%;
    left: 15%;
    background-color:#65B1FC;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 25px;
}


.modalTitle {
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 10%;
    top:10%;
}





/*
.calAndFilterContainer{
    /* display: grid; 
    display: flex;
    justify-content: left;
    align-items: center;

    grid-template-columns: 1fr 1fr;
    width: 75vh;
    overflow: hidden;
    width: 100vw;
}

.Filter {
    float: left;
}

.FullCalendar {
    float: left;
    width: 80%;
} */