/*
.calAndFilterContainer{
    /* display: grid; 
    display: flex;
    justify-content: left;
    align-items: center;

    grid-template-columns: 1fr 1fr;
    width: 75vh;
    overflow: hidden;
    width: 100vw;
}

.Filter {
    float: left;
}

.FullCalendar {
    float: left;
    width: 80%;
} */