/* .green-rectangle {
background-color: #00693E;
min-height: 20vh;
display: flex;
flex-direction: column;
} */

.TheKeg {
  position: relative;
  left: -35vw;
  font-size: 66px;
  font-style: normal;
  font-weight: bold;
  font-family: Roboto;
  color: #FFFFFF; 
} 

.Whatsontap {
  position: relative;
  left: -21vw;
  top: 7vh;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  font-family: Roboto;
  color: #FFFFFF;
}

.navbar {
  
  overflow: hidden;
  background-color: #00693E;
  min-height: 14vh;
  flex-direction: row-reverse;
  display: flex;
}

.logout {
  /* background-color: #8ABAA6; */
}

.loginNavbarlinks a {
  float: right;
  font-family: "Roboto";
  font-size: 20px;
  color: #00693E;
  text-align: center;
  padding: 18px 14px;
  text-decoration: none;
}

.navbarlinks a {

  float: right;
  font-family: "Roboto";
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 18px 14px;
  text-decoration: none;
}

.loginNavbarlinks a:hover {
  cursor: pointer;
}


.navbarlinks a:hover {
  background-color: #65B1FC;
}

.kegpic {
    position: relative;
    width: 5.5%;
    height: 5.5%;
    left: -51vh;
    top: 1vh;
}