/* .green-rectangle {
background-color: #00693E;
min-height: 20vh;
display: flex;
flex-direction: column;
} */

.TheKeg {
  position: absolute;
  left: 8vw;
  top: 0vh;
  font-size: 10vh;
  font-style: normal;
  font-weight: bold;
  font-family: Roboto;
  color: #FFFFFF; 
} 

.Whatsontap {
  position: absolute;
  left: 8.7vw;
  top: 7vh;
  font-size: 3vh;
  font-style: normal;
  font-weight: normal;
  font-family: Roboto;
  color: #FFFFFF;
}

.navbar {
  
  overflow: hidden;
  /* background-color: #00693E; */
  background-color: #007D5F;
  min-height: 14vh;
  /* flex-direction: row-reverse; */
  /* display: flex; */
}

/* .logout {
  background-color: #8ABAA6;
} */

/* .loginNavbarlinks a {
  float: right;
  font-family: "Roboto";
  font-size: 20px;
  color: #007D5F;
  text-align: center;
  padding: 18px 14px;
  text-decoration: none;
} */

.navbarlinks a {

  float: right;
  font-family: "Roboto";
  font-size: 3vh;
  color: white;
  text-align: center;
  /* padding: 18.5px 14px; */
  padding: 2.6vh 1vw;
  text-decoration: none;
}

/* .loginNavbarlinks a:hover {
  cursor: pointer;
} */


.navbarlinks a:hover {
  background-color: #65B1FC;
}


/* Get this if we want to change the color of the tab we are on
.navbarlinks a:focus {
  background-color: black;
}

.navbarlinks a:active {
  font-weight: bold;
  background-color: green;
} */

.kegpic {
  position: absolute;
  width: 11vh;
  height: 11vh;
  left: 2vh;
  top: 1.3vh;
}

.leftSide {
  /* flex-direction: row; */
  float:left;
  display: flex;
}

.rightSide {
  /* flex-direction: row-reverse; */
  float:right;
  display: flex;
}

