.pairs{
    display: flex;
    flex-direction: row;
}

/* .OuterContainer{
    
    border-radius: 50px;
    align-self: center;
    text-align: center;
    color: black;
    background-color: #D6D6D6;
    font-family: Open Sans;
    width: 48vw;
    height: 90vh;
    margin: 1vw;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

form{
    position: relative;
    top: 2vh;
    left: 24vw;
    border-radius: 50px;
    align-self: center;
    text-align: center;
    color: black;
    background-color: #D6D6D6;
    font-family: Open Sans;
    width: 50vw;
    height: 115vh;
    margin: 1vw;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

select {
    height: 4vh;
}
textarea{
    width: 25vw;
    height: 7vh
}

.DateTime{
    height: 4vh;
}

.occupy{
    width: 30vw;
}

.centreMe{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 55px;
    text-align: center;
}

.submitButton{
    /* background: #00693E; */
    background: #007D5F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    width: 20vw;
    height: 8vh;
    font-size: 35px;
    color: white;
}

.submitButton:focus {
    outline:0;
}
.submitButton:active{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.Header {
    color: black;
    font-family: 'Roboto';
    font-size: 6.5vh;

}